mixin list(number, title)
  div(class="sm:pr-[32px] sm:border-r border-[#0000001A] sm:mr-[32px]")
    div(class="text-primary xl:text-[40px] text-[24px] font-[700]") #{number}
    div(class="font-[400] xl:text-[16px] text-[12px] text-[#00000099]") #{title}